<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 text-center mx-auto">
      <p class="mb-0">地址: 计算机科学与技术学院，第周苑N3楼, 山东大学青岛校区, 266000, 中国山东省.</p>
    </div>
  </div>

  <!-- 访客地图 -->
  <div class="row mt-3">
    <div class="col-12 text-center">
      <a href="https://mapmyvisitors.com/web/1c177" title="Visit tracker" target="_blank" rel="noopener">
        <img src="https://mapmyvisitors.com/map.png?d=FOw3TN0L1yDQCTYIbE1dNB4DFgsA59VFLVuSut6y5fY&cl=ffffff" 
             alt="Visitor Map" 
             style="max-width: 100%; height: auto; border: none;" />
      </a>
    </div>
  </div>
</footer>
