<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 text-center mx-auto">
      <p class="mb-0">地址: 计算机科学与技术学院，第周苑N3楼, 山东大学青岛校区, 266000, 中国山东省.</p>
    </div>
  </div>

  <!-- 访客地图 -->
  <div class="row">
    <div class="col-md-4 text-center">
      <a href="http://livetrafficfeed.com/3d-visitor-maps" id="LTF_3d_maps">Live 3D Globes Visitor</a><script type="text/javascript" src="//cdn.livetrafficfeed.com/static/3d-maps/live.js?o=3765d5&amp;l=3ebc51&amp;b=008000&amp;c=ff0000&amp;root=0&amp;timezone=America%2FNew_York&amp;s=" async="async"></script>
    </div>
  </div>
</footer>
