<header class="site-header">
  <div class="d-flex flex-column flex-md-row align-items-center">
    <div>
      <a href="{{ site.baseurl }}/" class="text-decoration-none brand">
        <span class="brand-title brand d-block">{{ site.title }}</span>
        <span class="brand-sub">{{ site.description }}</span>
      </a>
    </div>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto gap-4">
      {% for item in site.data.settings.menu %}
        <a class="nav-link-custom text-decoration-none" href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
