---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">实验室简介</h3>
    {{ content }}
  </div>
  <!-- <div class="col-md-6">
    <img src="https://www.cs.sdu.edu.cn/images/110.jpg" alt="Home" width="100%">
  </div> -->
  <div class="col-md-6">
    <div class="ratio ratio-16x9">
      <img src="https://www.cs.sdu.edu.cn/images/110.jpg"
          class="w-100 h-100"
          style="object-fit: cover; object-position: center;"
          alt="Home">
    </div>
  </div>
</div>

<!-- 新增：二维码与组会信息 -->
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-4">交流平台</h3>

    <div class="row g-4">
      <div class="col-md-4 text-center">
        <img src="/assets/img/qrcode.jpg" alt="公众号二维码" class="img-fluid" style="max-width: 200px;">
        <p class="fw-bold mt-2">课题组公众号</p>
      </div>

      <div class="col-md-4 text-center">
        <img src="/assets/img/doc.png" alt="组会二维码" class="img-fluid" style="max-width: 200px;">
        <p class="fw-bold mt-2">组会纪要</p>
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <div>
          <h5 class="fw-bold">组会时间</h5>
          <ul class="list-unstyled mt-2 mb-0">
            <li><strong>时间：</strong>每周一 10:00-11:00</li>
            <li><strong>线下地点：</strong>青岛校区 第周苑 N3-329</li>
            <li><strong>线上会议：</strong>#腾讯会议：974-3529-9619</li>
            <li><strong>内容：</strong>论文分享、学术交流</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">最新进展</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>


{% include publications.html %}
